<div class="calculator-container">

    <div class="screen">
      <h1>{{ formula }}</h1>
    </div>
  
    <div class="modification-buttons">
      <button class="btn" (click)="onModificationPress('+')">+</button>
      <button class="btn" (click)="onModificationPress('-')">-</button>
      <button class="btn" (click)="onModificationPress('*')">x</button>
      <button class="btn" (click)="onModificationPress('/')">/</button>
    </div>
  
    <div class="number-buttons">
      <button *ngFor="let number of numbers" (click)="onNumberPress(number)" class="btn">{{ number }}</button>
      <button class="btn" (click)="onDotPress()">.</button>
      <button class="btn" (click)="onClear()">c</button>
      <button class="btn" (click)="onResultPress()">=</button>
    </div>
  </div>
